[submodule "backend"]
	path = backend
	url = https://github.com/CS451-Gang/backend.git
	branch = dev
[submodule "database"]
	path = database
	url = https://github.com/CS451-Gang/database.git
	branch = dev
[submodule "frontend"]
	path = frontend
	url = https://github.com/CS451-Gang/frontend.git
	branch = FrontEnd-Changes